<ion-content class="bg-color">
  <div class="cabece">
    <div>
      <span class="fs">FS</span>
    </div>
    <div class="flex-col">
      <span class="text-sm">FacTEDSOL</span>
      <span class="text-color">[INTEGRACIÓN]</span>
    </div>
  </div>

  <ion-card class="ion-no-margin">  
    <ion-card-header>
      <ion-card-title>
        Bienvenido
      </ion-card-title>
      <ion-card-subtitle>
        Inicie sesión para continuar
      </ion-card-subtitle>
    </ion-card-header>

    <form (ngSubmit)="inicioSesion()" [formGroup]="formLogin">

      <ion-card-content>          
        <!-- ruc -->
          <ion-item>
            <ion-input name="ruc" type="text" placeholder="Ruc"  formControlName="ruc" required inputmode="numeric">
              <ion-icon name="business-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <div *ngIf="rucNovalido" class="error_message">  campo requerido </div>
         
          <!-- Usuario -->
          <ion-item>
            <ion-input name="names" type="text" placeholder="Usuario" formControlName="usuario">
              <ion-icon name="person-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <div *ngIf="userNovalido"  class="error_message"> campo requerido </div>

          <!-- password -->
          <ion-item>
            <ion-input name="password" type="password" placeholder="Contraseña" formControlName="password">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-input>
          </ion-item>
          <div *ngIf="passNovalido" class="error_message">  campo requerido </div>
          
          <!-- Olvidaste tu contraseña -->
          <div class="olvist">
            <a class="olvist">¿Olvidaste tu contraseña? </a>
          </div>

          <!-- Submit Inicar -->
          <div class="sign-btn-wrap">
            <ion-button  shape="round" type="submit" fill="solid" class="sign-btn">  <!-- routerLink="/inicio" -->
              Iniciar
            </ion-button>
          </div>

          <!-- No tienes una cuenta -->
          <div class="text-tag">
            <span>¿No tienes una cuenta? <a class="registr"> Registrate</a> </span>
          </div>
      </ion-card-content>

    </form>

  </ion-card>
</ion-content>

<!-- <app-loading></app-loading> -->
<app-spinner></app-spinner>