<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="/menu-principal/proceso-migracion"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> Nombres </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-icon name="save"></ion-icon>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm">
    <ion-list>
      <!-- nombre -->
      <ion-item>
        <ion-label position="floating"> Nombres</ion-label>
        <ion-input type="text" name="nombre" required> </ion-input>
      </ion-item>

      <!-- passoword -->
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input
          type="text"
          name="apellidos"
          placeholder="Apellidos"
          required      
        >
        </ion-input>
      </ion-item>

      <ion-button type="submit" color="factedsol" slot="start" expand="full">
        <ion-icon name="send-outline"></ion-icon>
        Enviar
      </ion-button>
    </ion-list>
  </form>
</ion-content>
