<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="md">
      <ion-menu-button color="dark" menuId="menu-content">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Reporte Administrativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item lines="none">
        <div class="flex-col">
         <ion-label>Modos de busqueda</ion-label>
         <ion-label class="datos">Ingresa datos para un mejor resultado</ion-label>
        </div>
       </ion-item>

      <ion-item lines="none">
         <ion-icon name="calendar-outline"></ion-icon>
         <ion-label class="fecha">Fecha</ion-label>
       </ion-item>
     </ion-list>

     <!-- (fechas inicio --fin) -->
     <ion-grid fixed>
       <ion-row>
         <!-- (fecha Inicio) -->
         <ion-col size="6">
           <ion-label class="inicio">Inicio</ion-label>
           <ion-item color="light" lines="none" shapes="round">
              <input placeholder="12/12/2020" class="input-calendar"  [matDatepicker]="fechaInicio">
              <mat-datepicker #fechaInicio></mat-datepicker>
              <button  class="datepikerbut"  (click)="fechaInicio.open()">
                <ion-icon class="icons-calen" name="calendar-outline"></ion-icon>
              </button>
           </ion-item>
          </ion-col>
          <!-- (Fechas Fin) -->
          <ion-col size="6">
            <ion-label class="inicio">Fin</ion-label>
            <ion-item color="light" lines="none">
               <input placeholder="12/12/2020" class="input-calendar"  [matDatepicker]="fechaFin">
               <mat-datepicker #fechaFin></mat-datepicker>
               <button  class="datepikerbut" clas (click)="fechaFin.open()">
                 <ion-icon class="icons-calen" name="calendar-outline"></ion-icon>
               </button>
            </ion-item>
           </ion-col>
       </ion-row>
     </ion-grid>

     <ion-list>
      <ion-item lines="none">
        <ion-icon  id="ionc-icons" name="document"></ion-icon>
        <ion-label class="fecha">Serie y Número </ion-label>
      </ion-item>
     </ion-list>
<!-- (serie y numero) -->
     <ion-grid fixed>
       <ion-row>
         <!-- (Serie)  -->
         <ion-col size="6">
          <ion-label class="inicio">Serie</ion-label>
         <ion-list>
          <ion-item lines="none" color="light">
            <ion-select  interface="popover" placeholder="B001">
              <ion-select-option value="B003">B011</ion-select-option>
              <ion-select-option value="B004">B024</ion-select-option>
              <ion-select-option value="B005">B021</ion-select-option>
            </ion-select>
          </ion-item>
         </ion-list>
         </ion-col>

         <!-- (numero) -->
         <ion-col size="6">
          <ion-label class="inicio"> Número</ion-label>
          <ion-list>
            <ion-item color="light" lines="none">
            <ion-input type="number"  class="" placeholder="00023"></ion-input>
            </ion-item>
          </ion-list>
         </ion-col>
       </ion-row>
     </ion-grid>


     <!-- Cliente(s) -->
     <ion-list>
     <ion-item lines="none">
      <ion-icon name="person"></ion-icon>
      <ion-label class="fecha">Cliente(s)</ion-label>   
      <ion-icon button slot="end" (click)="listadoClientes()" name="list"> </ion-icon>
    </ion-item>
   </ion-list>
   <ion-grid fixed>
     <ion-row>
       <ion-col size="12">
        <ion-label class="inicio"> Nombre(s)</ion-label>
        <ion-list>
          <ion-item color="light" lines="none">
          <ion-input type="text"  class="" placeholder="CONCEPTOS & CONSTRUCCIONES V.G EIRL"></ion-input>
          </ion-item>
        </ion-list>
       </ion-col>
     </ion-row>
   </ion-grid>

   <ion-button  routerLink="/menu-principal/mostrar-comprobantes" color="factedsol" expand="block">
     Buscar
   </ion-button>

  </div>


</ion-content>
