
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-buttons slot="end">
          <ion-button color="dark" (click)="cancelar()">
          cancelar
          </ion-button>
        </ion-buttons>
      </ion-buttons>

      <ion-title> Cambiar Contraseña </ion-title>

      <ion-buttons slot="end">
        <ion-button color="factedsol" (click)="saveNewPass()">        
          Guardar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="formChange">
      <ion-list>

        <!-- nueva Contraseña -->
        <ion-item>
          <ion-label position="floating"> Nueva Contraseña</ion-label>
          <ion-input type="password"  formControlName="newpass"  required> </ion-input>
        </ion-item>

        <!-- Cambiar Contraseña         -->
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password"  formControlName="repeatpass"  required> </ion-input>
        </ion-item>          
        
      </ion-list>
    </form>
 </ion-content>


<app-spinner></app-spinner>