<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="/menu-principal/migrador"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> Configuración </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>


    <!-- [routerLink]="config.url"[routerLink]="config.url" -->

    <ion-item *ngFor="let config of menuconfi"  (click)="config.func()"
      lines="none"
      
      routerDirection="root"
      routerLinkActive="active"
      detail="true"
      color="light"
      button
     
      class="ion-no-border"
      disabled="{{config.disables}}"
    >

   

      <ion-icon slot="start" [name]="config.icon"></ion-icon>
      <ion-label class="cabece"> {{ config.title }} </ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>
