ion-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #0e0e0e;
}
.cabece {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #404040;
}

.active {
  --ion-text-color: var(--ion-color-factedsol);

  ion-icon {
    --ion-text-color-rgb: var(--ion-color-danger);
  }
}