
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  color="dark" defaultHref="/menu-configuraciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Conexiones</ion-title>   
    <form action=""  slot="end" class="search-bar">
      <input type="search" name="search" pattern=".*\S.*" required>
      <button class="search-btn" type="submit">
        <span>Search</span>
      </button>
    </form> 
  </ion-toolbar>
</ion-header>



<ion-content>

</ion-content>
