.bienvenida{
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 60px;
  text-align: justify;
}

.pb-10{
  padding-bottom: 45px;
  padding-top: 30px;
  cursor: pointer;
}

ion-img{
  padding-bottom: 20px;
}


.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f44336;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}








