<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button  color="dark" defaultHref="/menu-principal/rep-administrativo">
        <ion-icon color="dark" name="funnel"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title >Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-button  >
        <ion-icon color="dark" src="assets/img/check.svg"></ion-icon> 
      </ion-button>
      <ion-button (click)="onClick()">
        <ion-icon color="dark" name="funnel" ></ion-icon>   
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
