 
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
    border-radius: 8px;
 }

 .enviar{
   padding: 10px 20px 10px 20px;   
   color: white;  
   background: #EA3E3E;
   border-radius: 8px;
   font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center; 
        
 }
 
 

 .noenviado{
  padding: 7px;
     background: #EA3E3E;
     border-radius: 100%;  
     margin-left: -7px;
     border: white 2px solid;    
 }
 .enviado{
    padding: 7px;
     background: #3DC873;
     border-radius: 100%;
     margin-left: -7px;
     border: white 2px solid;   
    
 }

 .border-b{
  border: 1px solid rgba(126, 131, 137, 0.2);
  margin-top: 4px;
 }
 .focus{
    outline: none;
 }

 .text-{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.08px;
    
    color: #424242;
 }

 .coprobanteenviado{  
   background: #BDBDBD;
 }

 ion-item{

  ion-label{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
  ion-select{
    font-size: 13px;
    ion-select-option span{
     
    }
  }
  
 }

 #alert-1-hdr{
   font-size: 13px;
 }

 .ruc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #4a4a4a;
}

.empresa {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
}

.direcion { 
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;

  color: #6e7b9b;
}


.p-b-1{
  padding-bottom: 3px;
}

.icons{
  width: 22px;
  height: 22px;
}

#ionc-icons{
  background: #fdecec;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: #ea3e3e;
  margin-right: 5px;
}

.flex-jus{
  display: flex;
  padding-top: 1px;
  justify-content: space-between;
  align-items: center;
}
.text-t{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: -0.08px;
color: #3d3d3d;
}

.text-as{
  font-size: 13px;
  color: #7E8389;
}


.color--{
color: #6E7B9B;
font-size: 10px;
}

.pt-2{
  padding-top: 5px;
}

.bg-gray-500{
  background: rgba(242, 242, 242, 0.87);
  border-radius: 6px;
  padding: 5px;
  color: #7E8389;
}

ion-title{
  font-size: 14px;
}

.font{
   font-weight: 500;
}

.bg-white{
  background: white;   
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 12px;
}

.mt-2{
  margin-top: 16px;
}

ion-list{
  font-size: 13px;
  ion-item{
     font-size: 13px;
     ion-select{
      font-size: 13px;
      ion-select-option{
         font-size: 13px;
      }
     }
  }
}

.alert-checkbox-label.sc-ion-alert-md {
  -ms-flex: 1;
  flex: 1;
  color: var(--ion-color-step-850, #262626);
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}

#text-{
  font-size: 12px;
}