<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="md">
      <ion-menu-button color="dark" menuId="menu-content"> </ion-menu-button>
    </ion-buttons>
    <ion-title>Reporte Contable</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="shared()">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <div class="flex-col">
        <ion-label>Modos de busqueda</ion-label>
        <ion-label class="datos">Ingresa datos para un mejor resultado</ion-label>

      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label class="fecha">Fecha</ion-label>
    </ion-item>
  </ion-list>

  <!-- Mes y Fecha -->
  <form [formGroup]="form" (ngSubmit)="listReporteContable()">
    <ion-grid fixed>
      <ion-row>
        <!-- (fecha Inicio) -->
        <ion-col size="6">
          <ion-label class="inicio">Mes</ion-label>
          <ion-item color="light" lines="none" shape="round">
            <mat-select (selectionChange)="nombreMes($event)" placeholder="Seleccionar" style="font-size: 14px" formControlName="mes" >
              <mat-option value="01">Enero</mat-option>
              <mat-option value="02">Febrero</mat-option>
              <mat-option value="03">Marzo</mat-option>
              <mat-option value="04">Abril</mat-option>
              <mat-option value="05">Mayo</mat-option>
              <mat-option value="06">Junio</mat-option>
              <mat-option value="07">Julio</mat-option>
              <mat-option value="08">Agosto</mat-option>
              <mat-option value="09">Septiembre</mat-option>
              <mat-option value="10">Octubre</mat-option>
              <mat-option value="11">Noviembre</mat-option>
              <mat-option value="12">Diciembre</mat-option>
            </mat-select>
          </ion-item>

          <div *ngIf="monthInvalid">
            <ng-container>
              <div class="error_message">
              campo requerido
              </div>
            </ng-container>
          </div>

        </ion-col>
        <!-- (Fechas Fin) -->
        <ion-col size="6">
          <ion-label class="inicio">Año</ion-label>
          <ion-item color="light" lines="none">
            <ion-datetime doneText="Hecho" cancelText="No"
              placeholder="YYYY"
              display-format="YYYY"
              formControlName="anio"
              min="2021"
              max="2030"
              value="2021"
            >
            </ion-datetime>
          </ion-item>

          <div *ngIf="yearInvalid">
            <ng-container>
              <div class="error_message">
              campo requerido
              </div>
            </ng-container>
          </div>

        </ion-col>

        <ion-col>
          <div *ngIf="sinDatos">
            <ng-container>
              <div class="error_message">
                No se encontraron datos
              </div>
            </ng-container>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

      <!-- buscar= !buscar -->
        <button 
          class="btn focus hover"
          color="factedsol"
          expand="block"
          type="submit"
        >
          Buscar
        </button>
  </form>
  <hr />

  <!-- descargar pdf y EXCEL -->
  <div class="mt-5" *ngIf="buscar">
    <ion-label class="mt-5 pl-5">REPORTE - {{mes}} / {{anio}}</ion-label>
    <ion-grid fixed>
      <ion-row>
        <!-- PDF -->
        <ion-col size="6" class="content-center">
          <ion-button
            class="descargarpdf"
            (click)="descargarPDF()"
            expand="block"
            color="light"
          >
            PDF
          </ion-button>
        </ion-col>
        <!-- EXCEL -->
        <ion-col size="6" class="content-center">
          <ion-button
            class="descargarpdf"
            (click)="descargarExcel()"
            expand="block"
            color="light"
          >
            EXCEL
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="content-center mt-5">
      <img src="assets/img/exportdata.svg" alt="" />
    </div>
  </div>
</ion-content>

<!-- buscar -->
<!-- <ion-footer>
  <ion-toolbar>
    <div class="content-center">
      
    </div>
  </ion-toolbar>
</ion-footer> -->

<app-spinner></app-spinner>
