<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="Menutoogle()" expand="block" fill="clear" color="danger">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
      </svg>
    </ion-button>
    <ion-title> Migrador </ion-title>
    <ion-button slot="end" (click)="alert()" expand="block" fill="clear" color="dark">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <mat-accordion class="mt-8">
    <div class="envioc pb-2">
      <span class="listado"> Listado de Bases </span>
      <span class="Cantidad">Cant. Bases:  0</span>
    </div>
    <!-- Detraccion -->
    <mat-expansion-panel *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
      <mat-expansion-panel-header class="text-gray-800"  >
        <mat-panel-title>
          <div class="flex-col">
            <span class="principal">DB_PRINCIPAL</span>
            <span class="fecha">
              <ion-icon color="success" class="checksucc" name="checkbox-outline"></ion-icon>
              16/12/2020
            </span>
          </div>
          <span  class="activo mb-4">Activo</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <label class="enviocompro">Envio de Comprobantes</label>
      <ion-progress-bar color="success" value="0.5"></ion-progress-bar>
      <div class="envioc">
        <span class="porcentaje"> 104/221 </span>
        <span class="porcentaje">100%</span>
      </div>
      <ion-button (click)="Ver" expand="block" color="success" >VER</ion-button>
    </mat-expansion-panel>
  </mat-accordion>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="checkmark-done"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

