.active{
  --ion-text-color: var(--ion-color-primary);
  ion-icon {
    --ion-text-color-rgb: var(--ion-color-primary);
  }
}
.active-parent {
  font-weight: 500;
}

.sub-menu {
  padding-left: 20px;
  font-size: 14px;
}

.menunn{
  font-size: 15px;
  background: rgb(250, 143, 143);

}
