<ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay" color="factedsol">
  <ion-header>
    <ion-toolbar color="factedsol">
      <ion-grid fixed class="ion-justify-content-center ion-align-items-center">
        <ion-row>
          <ion-col size="2">
            <ion-menu-toggle>
              <ion-button shape="round"  routerLink="/login" (click)="onClick()" color="factedsol">
                <ion-icon name="power-outline"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
           
          </ion-col>
          <ion-col size="8" class="ion-justify-content-center ion-align-items-center">
            <ion-avatar class="ion-justify-content-center ion-align-items-center">
              <img  src="https://s03.s3c.es/imag/_v0/770x420/3/8/9/Cesar-Acuna.jpg" />
            </ion-avatar>
            <ion-label>Cesar Acuña</ion-label>
         
          </ion-col>

          <ion-col size="2">
            <ion-button routerLink="/menu-configuraciones" shape="round" class="roundas" (click)="onClick()" color="factedsol">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-toolbar>

  </ion-header>

  <ion-content color="factedsol" >
    <div color="factedsol" *ngFor="let p of pages">
      <ion-menu-toggle color="factedsol" *ngIf="p.url">
        <ion-item lines="none" color="factedsol" [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{p.title}} </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item lines="none" color="factedsol" class="menunn" button *ngIf="p.children?. length > 0 " (click)=" p.open = !p.open"
        [class.active-parent]="p.open" detail="false">
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-icon slot="end" name="chevron-forward-outline" *ngIf="!p.open"></ion-icon>
        <ion-icon slot="end" name="chevron-down-outline" *ngIf="p.open"></ion-icon>
        <ion-label> {{ p.title}}  </ion-label>
      </ion-item> 

      <ion-list color="factedsol" *ngIf="p.open" >
        <ion-menu-toggle color="factedsol">
          <ion-item lines="none" class="sub-menu" color="factedsol" *ngFor="let submenu of p.children" [routerLink]="submenu.url"
            routerDirection="root" routerLinkActive="active">
            <ion-icon slot="start" [name]="submenu.icon"></ion-icon>
            <ion-label>{{submenu.title}} </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>

  </ion-content>
</ion-menu>
<ion-router-outlet id="menu-content"> </ion-router-outlet>