<ion-header>
  <!-- opcion 01 -->
  <ion-toolbar *ngIf="!app_bar">
    <ion-buttons slot="start">
      
      <ion-button (click)="closeModal()"  color="dark">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      
    </ion-buttons>

    <ion-title >Reporte Administrativo</ion-title>
    <ion-buttons slot="end">

      <!-- <ion-button    (click)="app_bar = !app_bar">
        <ion-icon color="dark" src="assets/img/check.svg"></ion-icon> 
      </ion-button> -->
      
      <ion-button (click)="onFiltrar()">
        <ion-icon color="dark" name="funnel" ></ion-icon>   
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>

  <!-- oopcion 02 -->
  <ion-toolbar *ngIf="app_bar">
    <ion-buttons slot="start">
      <ion-button (click)=" app_bar = !app_bar ">
        <ion-icon color="dark"  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <!-- <ion-buttons slot="end">
 
      <ion-button (click)="ToselectAll()">
        <ion-icon color="dark"  src="assets/img/selecionartodos.svg"></ion-icon>
      </ion-button>

      <ion-button (click)="shared()">
        <ion-icon color="dark"  name="share-social"></ion-icon>
      </ion-button>
      
      <ion-button (click)="descargar()">
        <ion-icon color="dark"  name="cloud-download"></ion-icon> 
      </ion-button>

    </ion-buttons> -->
    
  </ion-toolbar>
</ion-header>


<ion-content >  
  <ion-list class="ion-justify-content-between ion-align-items-center" color="light">
    
    <ion-label class="titles" >
      <p class="valor -colorr">Cant. Comp.</p>
      <p class="valor text" slot="end">{{ (filtroActivo) ? listaFiltrada.length : listcpeGeneral.length }}</p>
      
      <p class="valor -colorr">Total</p>
      <p class="valor text" slot="end">{{ total | currency : 'PEN'}}</p>

    </ion-label>

    <ion-item *ngFor="let item of listcpe"  button  (click)="detalleComprobante(item)" lines="none"  style="border-radius: 12px !important; padding: 14px 0px 10px 0px !important;">
      <ion-grid class="ion-no-margin ion-no-padding py-2" >
        <!-- (click)="listarDetalle(item)" -->
        <ion-row>
          <!-- <ion-col *ngIf="app_bar" size="1" class="ion-justify-content-start ion-align-self-center"> 
            <ion-checkbox [(ngModel)]="item.isChecked" class="checkccc" color="danger" > </ion-checkbox>     
          </ion-col> -->

          <ion-col  size="2" class="ion-justify-content-start ion-align-self-center">            
            
              <!-- Anulado=true , ante sunat esta anulado -->
              <ion-icon *ngIf=" item.Cliente === 'ANULADO' && !item.IDAnuladoEnviado && item.IDEnviado " class="enviado-icons" src="assets/img/anuladoe.svg"></ion-icon>
              <!-- enviado=true, no esta anulado -->
              <ion-icon *ngIf="item.IDEnviado && item.Cliente !== 'ANULADO' " class="enviado" name="checkmark-circle-outline"></ion-icon>

              <!--Anulado = true - Enviado=false-->
              <ion-icon *ngIf="!item.IDEnviado " class="error-icons" name="ban-outline"></ion-icon>  
            
          </ion-col>
          <ion-col size="7" >
            <ion-label class="ion-text-wrap">
							<span class="text">{{ item.Serie }}-{{ item.Numero }}</span>
							<span class="descrip ion-text-wrap">{{ item.Cliente }}</span>
							<span class="text ruc">{{ item.NumeroIdentificacion }}</span>
						</ion-label>
          </ion-col>
          

          <ion-col size="2"  class="ion-justify-content-start ion-align-self-start">
           <!-- activo -->
            <label class="flex-activo">
              <span class="activo"></span>    
              Activo
            </label>
            <!-- anulado -->
            <!-- <label class="flex-inactivo">
              <span class="inactivo"></span>    
              Anulado
            </label> -->
            
          </ion-col>
        </ion-row>
         <ion-label class="flex-justb" >
          <p class="valor ">{{ item.Total | currency : 'PEN'}}</p>
          <p class="valor -colorr">{{ item['Emisión'] }} - {{ item.Hora }} </p>
         </ion-label>      
      </ion-grid>         
    </ion-item>
  </ion-list> 



  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  
</ion-content>

<!-- <app-loading> </app-loading> -->
<app-spinner></app-spinner>